<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/index.css') }}>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2845229811035316"
     crossorigin="anonymous"></script>
    <title>Delete Data - Remove the metadata from your file</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Delete Data</h1>
            <h3>Protect your privacy!</h3>
            <p>Insert a file and remove your metadata. </p>
            <form method="post" enctype="multipart/form-data">
                <div>
                    <input id="file-input" type=file name=file>
                    <label for="file-input">
                        <span class="file-title"></span>
                        <span>SELECT A FILE</span>
                    </label>
                </div>
                <input id="submit-button" type=submit value=ERASE>
    
            </form>

        </div>
    </div>
    <footer><p>Made by <a href="https://linkedin.com/in/leonaceschin">Leona Ceschin</a></p></footer>
</body>
<script type="text/javascript">

    document.querySelector('#file-input').addEventListener('change', function(){
        document.querySelector('.file-title').textContent = this.files[0].name;
    });

</script>
</html>